{% extends 'base.html' %}

{% block title %}{% trans %}Portfolio{% endtrans %} - {% endblock %}

{% block content %}
	<div class="row">
		<div class="span12">
			{% if is_admin %}<a href="{{ url('admin-projects-add') }}" class="btn btn-large" style="float: right;"><i class="icon-plus"></i> New project</a>{% endif %}
			{% if cur_technology %}
				<h1>{% trans %}Our expertise in{% endtrans %} {{ cur_technology }}</h1>
				<br />
			{% else %}
			{% if is_admin %}<h1>&nbsp;</h1>{% endif %}
				<div class="navbar">
				  <div class="navbar-inner">
				  	<div class="container">
					    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </a>

					    <a class="brand" href="#">Projects:</a>

					    <div class="nav-collapse">
						    <ul class="nav">
						  	<li {% if not cur_category %}class="active"{% endif %}><a href="{{ url('portfolio-index') }}">All</a></li>
						    {% for category in categories %}
							  <li {% if cur_category and category.key() == cur_category.key() %}class="active"{% endif %}><a href="{{ url('portfolio-index-category', category = category.slug) }}">{{ category.title }}</a></li>
							{% endfor %}
						    </ul>
						</div>
				    </div>
				  </div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
			  	{% for project in projects %}
				  <li class="span4">
				    <a href="{{ url('portfolio-project', project_id = project.key().id()) }}" class="thumbnail thumb-project" style="position: relative;">
				      <div style="background: url('{{ project.teaser_image()|serve_image(400, False) }}') no-repeat center left; background-size: 100%; width:100%; height: 180px;"></div><br>
				      <h4>{{ project.title }}</h4>
				      <p style="line-height: 1.5em;">{{ project.teaser }}</p>
				      <p style="color: #08c; text-decoration: underline; position: absolute; bottom: 5px;">Learn more &raquo;</p>
				    </a>
				  </li>
			  	{% endfor %}
			</ul>
		</div>
	</div>


{% endblock %}
