body {
	font-size: 14px;
}

/*  button modificators  */

.btn.noback {
	border: none;
	background: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#livefyre {
	min-height: 0 !important;
}