body {
	font-size: 14px;
	/*background: url(/static/images/bg_texture.jpg);*/
	background: url(/static/images/container-bg-n.jpg);
}

/*  button modificators  */
.btn.noback {
	border: none;
	background: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* comments */
#livefyre {
	min-height: 0 !important;
}

.fabricBackground {
	-moz-box-shadow: inset 0px 0px 3px 2px #222;
	-webkit-box-shadow: inset 0px 0px 3px 2px #222;
	box-shadow: inset 0px 0px 3px 2px #222;
	position: absolute; 
	top: 0px; 
	bottom: 0; 
	left: -1000px; 
	right: -1000px; 
	z-index: -1;
	background: url(/static/images/container-bg.jpg);
}

/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	width: 100%;
	height: 300px;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
/*	height: 100%;*/
	z-index: 0;
}

/* slide */
.iosSlider .slider .item {
	/* required */
	float: left;

	width: 100%;
/*	height: 100%;*/
	position: relative;
}

.iosSlider .slider .item .selectorShadow {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(/static/images/selector-shadow.png) no-repeat 0 0;
	width: 120px;
	height: 30px;
}

.iosSlider .slider .item .text1 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 150px;
    top: 30px;
    padding: 5px 2px 0 7px;
}

.iosSlider .slider .item .text1 span {
	color: #FFFFFF;
    font: 3.1em/1.5em Arial; /* Norican;*/
    padding: 0 8px;
}

.iosSlider .slider .item .text2 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 5px 7px 7px;
    position: absolute;
    right: 0;
    top: 100px;
    max-width: 400px;
}

.iosSlider .slider .item .text2 span {
	color: #FFFFFF;
    font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sliderContainer .slideSelectors {
	position: relative;
	bottom: 20px;
	left: 0;
	width: 1200px;
	margin: 0 auto;
	z-index: 1;
	height: 10px;
}

.sliderContainer .slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #000;
	background: #999;
	margin: 0 0 0 10px;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.sliderContainer .slideSelectors .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity=100);
}

@media screen and (max-width: 1113px) {
	.iosSlider {
		height: 100%;
	}
	
	.sliderContainer .slideSelectors {
		width: 92%;
		margin: 0 4%;
	}	
}

@media screen and (max-width: 768px) {
	
	.iosSlider .slider .item .text1 {
		top: 15px;
		right: 5px;
		height: 50px;
	}
	
	.iosSlider .slider .item .text1 span {
		font-size: 180%;
	    line-height: 53px;
	}
	
	.iosSlider .slider .item .text2 {
		top: 65px;
		right: 5px;
	}
	
	.iosSlider .slider .item .text2 span {
		font-size: 100%;
	    line-height: 105%;
	}
	
}

@media screen and (max-width: 500px) {
	
	.iosSlider .slider .item .text1 {
		display: none;
	}
	
	.iosSlider .slider .item .text2 {
		display: none;
	}
	
}

.thumb-front, .thumb-project {
	background: #fff;
	min-height: 300px;
	color: #222;
	cursor: pointer;
	padding: 10px;
}

.thumb-front {
	min-height: 300px;
}

.thumb-project {
	min-height: 400px;
}

.thumb-front:hover, .thumb-project:hover {
	text-decoration: none;
	color: #000;
}

#expertises {
	line-height: 3em;
}

#expertises a:link {
	-moz-box-shadow: 0px 0px 2px 1px #ccc;
	-webkit-box-shadow: 0px 0px 2px 1px #ccc;
	box-shadow: 0px 0px 2px 1px #ccc;

	border-radius: 5px;

	background: #fff;
	border: solid #aaa 1px;
	margin: 5px;
	padding: 5px;
	font-size: 2em/3em;
	text-transform: uppercase;
	text-decoration: none;
}

.syntaxhighlighter {
	background: #fff; 
	border-radius: 5px;

	-moz-box-shadow: 0px 0px 2px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px 2px #ccc;
	box-shadow: 0px 0px 2px 2px #ccc;
}

#markItUpContent, #markItUpDescription, #markItUpAddress {
	width: 93.5%;
}

.markItUpEditor {
	width: 93% !important;
}

.thumbnail {
	background: #fff;
}

h1, h2, h3, h4, h5 {
	text-shadow: #fff 1px 1px;
}

#page-footer address {
	color: #aaa;
}
