{% extends 'admin/base.html' %}

{% block title %}{% trans %}Blog{% endtrans %} | {% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload-ui.css">
	<!-- markItUp! skin -->
	<link rel="stylesheet" type="text/css" href="/static/markitup/skins/markitup/style.css" />
	<!--  markItUp! toolbar skin -->
	<link rel="stylesheet" type="text/css" href="/static/markitup/sets/default/style.css" />

{% endblock %}

{% block adminarea %}
	{% if post %}
	<h1>{% trans %}Edit: {% endtrans %} {{ post }}</h1>
	{% else %}
	<h1>{% trans %}Write new blog post{% endtrans %}</h1>
	{% endif %}
	<hr />

	{% if form.errors %}
	    <div class="errors alert">
	    	<h4 class="alert-heading">Please correct the following errors!</h4><br />
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <p><strong>{{ form[field_name].label.text }}</strong>: {{ error }}</p>
	            {% endfor %}
	        {% endfor %}
	    </div>
	{% endif %}

	{% if success %}
	    <div class="alert-success alert">
	    	<a class="close" data-dismiss="alert" href="#">×</a>
	    	<h4 class="alert-heading">Post saved!</h4>
	    </div>
	{% endif %}

	<form class="form-horizontal" method="POST" action=".">
		<fieldset>
			<div class="control-group {% if form.title.errors %}error{% endif %}">
				{{ form.title.label(class="control-label") }}
				<div class="controls">
					{{ form.title(class="input-xlarge span7") }}
				</div>
			</div>
			<br />
			<div class="control-group {% if form.slug.errors %}error{% endif %}">
				{{ form.slug.label(class="control-label") }}
				<div class="controls">
					{{ form.slug(class="input-xlarge span7") }}
					<p class="help-block">Latin characterrs, numbers, dashes. No spaces!</p>
				</div>
			</div>
			<div class="control-group {% if form.teaser.errors %}error{% endif %}">
				{{ form.teaser.label(class="control-label") }}
				<div class="controls">
					{{ form.teaser(class="input-xlarge span7") }}
					<p class="help-block">No HTML allowed. Plain text only.</p>
				</div>
			</div>
			<div class="control-group {% if form.category.errors %}error{% endif %}">
				{{ form.category.label(class="control-label") }}
				<div class="controls">
					{{ form.category(class="input-xlarge span7") }}
				</div>
			</div>
			<div class="control-group {% if form.content.errors %}error{% endif %}">
				{{ form.content.label(class="control-label") }}
				<div class="controls">
					{{ form.content }}
				</div>
			</div>
			<br />
			<div class="control-group {% if form.tags.errors %}error{% endif %}">
				{{ form.tags.label(class="control-label") }}
				<div class="controls">
					{{ form.tags(class="input-xlarge span7") }}
					<p class="help-block">Comma-separated list of tags. Case insensitive.</p>
				</div>
			</div>
			{% if post %}
			<div class="control-group">
				<label class="control-label">Attached<br />images</label>
				<div class="controls">
					<ul class="thumbnails" id="image_list">
					{% for image in post.imagerecord_set %}
					  <li class="span2" id="image-{{ image.key().id() }}">
						<a class="close" onClick="removeImage({{ image.key().id() }});" style="margin-right: 2px;">&times;</a>
						<a class="thumbnail">
							<img src="{{ image.image.key() | serve_image(240, False) }}" alt="{{ post.title }}. {{ image.title }}" />
						</a>
					  </li>
					{% endfor %}
					</ul>
					<hr />
					<input class="btn" id="fileupload" type="file" name="file" multiple />
				</div>
			</div>
			{% endif %}
		</fieldset>
	</form>

	<div class="form-actions" style="margin-left: 160px;">
		<div>
		<a href="#" onclick="document.forms[0].submit();return false;" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> {% trans %}Save post{% endtrans %}</a>
		<a href="#" class="btn">Publish post</a>
		{% if post %}
		<a href="{{ url('blog-post', post_id = post.key().id()) }}" class="btn"><i class="icon-eye-open"></i> Preview</a>
		{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% if post %}
<script src="/static/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/static/js/jquery.fileupload.js" type="text/javascript"></script>

<script type="text/javascript">
jQuery(document).ready(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        formData: {
        	owner: "BlogPost:" + {{ post.key().id() }},
        },
        done: function (e, data) {
            $('<li class="span2" id="image-'+ data.result.image_id +'"></li>').append(
            	$('<a class="thumbnail"></a>').append(
            		$('<a class="close" onClick="removeImage('+ data.result.image_id +');" style="margin-right: 2px;">&times;</a>')
            		).append(
            		$('<img alt="" />').attr("src", data.result.image_url)
            		)
            	).appendTo(jQuery("#image_list"));
        },
	    submit: function (e, data) {
	        var $this = $(this);
	        $.getJSON("{{ url('image-upload-url') }}?" + Math.random(), function (result) {
            	data.url = result;
            	$this.fileupload('send', data);
            });
	        return false;
	    } 
    });
});

function removeImage(id) {
	jQuery.ajax({
		url: "{{ url('image-delete') }}",
		data: {
			image_id: id,
		},
		type: "POST",
		dataType: "json",
		success: function(data) {
			if (data.result == "ok")
		  		$('#image-' + id).remove();
		}
	});
}
</script>
{% endif %}
<!-- markItUp! -->
<script type="text/javascript" src="/static/markitup/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="/static/markitup/sets/default/set.js"></script>

<script type="text/javascript" >
   $(document).ready(function() {
      $("#content").markItUp(mySettings);
   });
</script>
{% endblock %}
