{% extends 'admin/base.html' %}

{% block adminarea %}
<h2>{% trans %}Manage blog posts{% endtrans %}</h2>
<hr />

<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Date</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr id="post-{{ post.key().id() }}">
      <td>
      	<a href="{{ url('admin-blog-post-edit', post_id=post.key().id()) }}"><i class="icon-edit"></i></a>
      	<a href="#" onClick="removePost({{ post.key().id() }})"><i class="icon-trash"></i></a>
      </td>
      <td>{{ post.title }}</td>
      <td>{% if post.author %}{{ post.author }}{% endif %}</td>
      <td>{{ post.category }}</td>
      <td>{{ post.date_created }}</td>
      <td>{{ post.is_published }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="form-actions">
    <a href="{{ url('admin-blog-post-add') }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> New post</a>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function removePost(id) {
  jQuery.ajax({
    url: "{{ url('admin-remove-entity') }}",
    data: {
      item_type: "BlogPost",
      item_id: id,
    },
    type: "POST",
    dataType: "json",
    success: function(data) {
      if (data.result == "ok")
          $('#post-' + id).remove();
    }
  });
}
</script>
{% endblock %}
