{% extends 'base.html' %}

{% block title %}{% trans %}Blog{% endtrans %} | {% endblock %}

{% block content %}
	<div class="row">
		<div class="span12">
			{% if is_admin %}<a href="{{ url('admin-blog-post-add') }}" class="btn btn-large" style="float: right;"><i class="icon-plus"></i> New post</a>{% endif %}
			{% if is_admin %}<h1>&nbsp;</h1>{% endif %}
			<div class="navbar">
			  <div class="navbar-inner">
			  	<div class="container">
				    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </a>

				    <a class="brand" href="#">Topics:</a>

				    <div class="nav-collapse">
					    <ul class="nav">
					  	<li {% if not cur_category %}class="active"{% endif %}><a href="{{ url('blog-index') }}">All</a></li>
					    {% for category in categories %}
						  <li {% if cur_category and category.key() == cur_category.key() %}class="active"{% endif %}><a href="{{ url('blog-index-category', category = category.slug) }}">{{ category.title }}</a></li>
						{% endfor %}
					    </ul>
					</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px;">
		<!-- START: Livefyre Embed -->
		<script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
		<div class="span9">
			{% for post in posts %}
			<div class="row" style="margin-bottom: 32px;">
				<div class="span3">
					{% if post.imagerecord_set %}
					<a href="{{ url('blog-post', post_id = post.key().id()) }}"><img src="{{ (post.imagerecord_set | first).image | serve_image(320, False) }}" alt="{{ post.title }}" /></a>
					{% else %}
					<img src="http://placehold.it/320x240" alt="{{ post.title }}" />
					{% endif %}
				</div>
				<div class="span6">
					<h2><a href="{{ url('blog-post', post_id = post.key().id()) }}">{{ post.title }}</a></h2>
					<span>by <a href="#">Sergii Gulenok</a></span>
					<hr style="color: #666; background-color: #666; height: 1px;" />
					<div class="row" style="font-size: small; margin-top: -5px; color: #333;">
						<div class="span2"><i class="icon-time"></i> {{ post.date_created | datetime }}</div>
						<div class="span2"><i class="icon-bookmark"></i> <a href="{{ url('blog-index-category', category = post.category.slug) }}">{{ post.category.title }}</a></div>
						<div class="span2">
							<a href="{{ url('blog-post', post_id = post.key().id()) }}#comments">
								<i class="icon-comment"></i>
								<span class="livefyre-commentcount" data-lf-site-id="310016" data-lf-article-id="blogpost-{{ post.key().id() }}">0 Comments</span>
							</a>
						</div>
					</div>

					<div style="margin-top: 32px;">
						{% if post.teaser %}{{ post.teaser }}
						{% else %}{{ post.content | truncate(512) | htmlify }}{% endif %}
					</div>

					<hr style="color: #666; background-color: #666; height: 1px;" />
<!--					<div style="font-size: small;">
					Tags: <a href="#">gae</a>, <a href="#">python</a><br />
					Category: <a href="#">Knowledge sharing</a>
					</div>
					<hr style="color: #666; background-color: #666; height: 1px;" />-->
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- END: Livefyre Embed -->

		<div class="span3">
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 5,
			  interval: 30000,
			  width: 'auto',
			  height: 400,
			  theme: {
			    shell: {
			      background: '#dedede',
			      color: '#000000'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#000000',
			      links: '#00a3de'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: true,
			    behavior: 'all'
			  }
			}).render().setUser('ashenwolf').start();
			</script>
		</div>
	</div>


{% endblock %}
