{% extends 'admin/base.html' %}

{% block adminarea %}
<h2>{% trans %}Mange project technologies{% endtrans %}</h2>
<hr />

<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th style="width: 32px;">&nbsp;</th>
      <th>Technology</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
    {% for technology in technologies %}
    <tr>
    <tr id="technology-{{ technology.key().id() }}">
      <td>
        <a href="#"><i class="icon-edit"></i></a>
        <a href="#" onClick="removeTechnology({{ technology.key().id() }})"><i class="icon-trash"></i></a>
      </td>
      <td>{{ technology.title }}</td>
      <td>{{ technology.slug }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="form-actions">
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-plus icon-white"></i> New Technology
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu" style="padding: 8px;">
            <form method="POST" action="{{ url('admin-projects-technologies-add') }}">
            <fieldset>
                <div class="controls">
                    <label class="control-label" for="title">Technology name</label>
                    <div class="input-append">
                        <input type="text" class="span2" id="title" name="title" /><input type="submit" class="btn btn-small">Add</submit>
                    </div>
                </div>
            </fieldset>
            </form>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
    });
</script>

<script type="text/javascript">
function removeTechnology(id) {
  jQuery.ajax({
    url: "{{ url('admin-remove-entity') }}",
    data: {
      item_type: "Technology",
      item_id: id,
    },
    type: "POST",
    dataType: "json",
    success: function(data) {
      if (data.result == "ok")
          $('#technology-' + id).remove();
    }
  });
}
</script>
{% endblock %}
