<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}Skoll Technologies</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% block css %}{% endblock %}


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<!--	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>-->

	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div style="overflow: hidden;">
	<div id="page-body" class="container">
		<div id="page-header" class="row" style="padding: 15px 0 30px 0;">
			<div class="span5"><a href="/"><img src="/static/images/skoll-tech-logo4.png" alt="Skoll Technologies" /></a></div>
			<div class="span7"><p style="text-align: right; padding-top: 10px;">
				<a href="/" class="btn btn-large {% if section %}noback{% endif %}">Hello!</a> &nbsp;
				<a href="{{ url('staticpage', page_slug = 'about') }}" class="btn btn-large {% if section != "about" %}noback{% endif %}">About Us</a> &nbsp;
				<a href="{{ url('portfolio-index') }}" class="btn btn-large {% if section != "portfolio" %}noback{% endif %}">Our Portfolio</a> &nbsp;
				<a href="{{ url('blog-index') }}" class="btn btn-large {% if section != "blog" %}noback{% endif %}">Our Blog</a> &nbsp;
				<a href="{{ url('staticpage', page_slug = 'contact') }}" class="btn btn-large {% if section != "contacts" %}noback{% endif %}">Contact Us</a> &nbsp;
				<!--<a href="/projects/" class="btn btn-large {% if section != "projects" %}noback{% endif %}">Our Projects</a> &nbsp;-->
			</p>
			</div>
		</div>

{% block content %}{% endblock %}

		<div id="page-footer" class="row" style="position: relative; margin-top: 20px; padding: 40px 0;">
			<div class="fabricBackground"></div>
			<div class="span12">
				<div class="row">
					<div class="span9">
						<h3>{% trans %}Hire Us{% endtrans %}</h3>
						<p>{{ settings.get('hire_us') }}</p>
					</div>
				</div>

				<div class="row" style="margin-top: 21px;">
					<div class="span3">
						<h3>{% trans %}Our Address{% endtrans %}</h3>
						<div>{{ settings.get('address') }}</div>
					</div>
					<div class="span3">
						<h3>{% trans %}Contact Us{% endtrans %}</h3>
						<p>Phone: +38 (091) 309 52 89<br />
						   E-Mail: <a href="mailto:contact@skoll.com.ua">contact@skoll.com.ua</a><br />
						   Skype: graywolfua</p>
					</div>
					<div class="span3">
						<h3>{% trans %}Stay in Touch{% endtrans %}</h3>
						<p>{% if settings.get('our_facebook') %}<a href="{{ settings.get('our_facebook') }}"><img src="/static/images/icons/facebook.png" rel="me" alt="Facebook"></a>{% endif %}
						   {% if settings.get('our_googleplus') %}<a href="{{ settings.get('our_googleplus') }}"><img src="/static/images/icons/googleplusalt.png" rel="me" alt="Google+"></a>{% endif %}
						   {% if settings.get('our_twitter') %}<a href="{{ settings.get('our_twitter') }}"><img src="/static/images/icons/twitter2.png" rel="me" alt="Twitter"></a>{% endif %}
						   {% if settings.get('our_linkedin') %}<a href="{{ settings.get('our_linkedin') }}"><img src="/static/images/icons/linkedin.png" rel="me" alt="LinkedIn"></a>{% endif %}
						   <a href="/feed/"><img src="/static/images/icons/rss.png" alt="RSS Feed"></a>
						</p>
					</div>
					<div class="span3">
						<p style="margin-top: 5px;">Copyright &copy; 2011-2012 Skoll Technologies.<br/>
						All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% block javascript %}{% endblock %}
</div>
</body>
</html>