{% extends 'base.html' %}

{% block javascript %}

	<script type="text/javascript" src="/static/js/jquery.easing-1.3.js"></script>
	<script type="text/javascript" src="/static/js/jquery.iosslider.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			/* some custom settings */
			$('.iosSlider').iosSlider({
				desktopClickDrag: true,
				snapToChildren: true,
				navSlideSelector: '.sliderContainer .slideSelectors .item',
				onSlideComplete: slideComplete,
				onSliderLoaded: sliderLoaded,
				onSlideChange: slideChange,
				autoSlide: true,
			});

			$('.iosSlider').iosSlider('update');
		});

		function slideChange(args) {
			$('.sliderContainer .slideSelectors .item').removeClass('selected');
			$('.sliderContainer .slideSelectors .item:eq(' + args.currentSlideNumber + ')').addClass('selected');
		}
		
		function slideComplete(args) {
				
			$(args.sliderObject).find('.text1, .text2').attr('style', '');
			
			$(args.currentSlideObject).find('.text1').animate({
				right: '100px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');
			
			$(args.currentSlideObject).find('.text2').delay(200).animate({
				right: '50px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');
			
		}
		
		function sliderLoaded(args) {
			slideComplete(args);
			slideChange(args);
		}

	</script>

{% endblock %}

{% block content %}
	<div class="row" style="margin-top: 20px;">
		<div class="span6 offset2">
			<h3>We are the team of passionate developers</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom: 40px;">
		<div class="span7 offset3">
			<p style="font-size: 1em;">We create beautiful websites, reliable network services and powerful software using innovative and state of art technologies to solve your problems and materialise your wildest dreams. <a href="#">Learn more about us</a></p>
		</div>
	</div>

	<div class="row" style="position: relative; padding-top: 12px;">
		<div class="fabricBackground"></div>
		<div class="span10 offset1 sliderContainer" style="padding: 20px 0 20px 0;">
			<!-- slider container -->
			<div class='iosSlider'>
				<!-- slider -->
				<div class='slider'>
					<!-- slides -->
					{% for project in featured %}
					<div class='item'>
						<div class = 'selectorShadow'></div>
						<div class = 'text1'><span>{{ project.title }}</span></div>
						<div class = 'text2'><span>{{ project.teaser }}</span></div>
						<div style="max-height: 400px;">
							<img src="{{ project.teaser_image()|serve_image(800, False) }}" style="width: 100%;" />
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class = 'slideSelectors'>
				{% for project in featured %}
					<div class = 'item'></div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<br /><!--<hr />-->
			<h2>Recent projects</h2>
			<br />
		</div>
	</div>

	<ul class="thumbnails">
	  	{% for project in projects %}
		  <li class="span3">
		    <a href="{{ url('portfolio-project', project_id = project.key().id()) }}" class="thumbnail thumb-front" style="position: relative;">
		      <div style="background: url('{{ project.teaser_image()|serve_image(320, False) }}') no-repeat center left; background-size: 100%; width:100%; height: 120px;"></div><br>
		      <h4>{{ project.title }}</h4>
		      <p style="line-height: 1.5em;">{{ project.teaser }}</p>
		      <p style="color: #08c; text-decoration: underline; position: absolute; bottom: 5px;">Learn more &raquo;</p>
		    </a>
		  </li>
	  	{% endfor %}
	</ul>

	<ul class="thumbnails">
	  <li class="span4">
	    <div class="thumbnail thumb-front">
	      <h3>What we do</h3>
	      <p>Thumbnail caption right here...</p>
	      <p>Thumbnail caption right here...</p>
	      <p>Thumbnail caption right here...</p>
	      <a>Learn more &raquo;</a>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail thumb-front">
	      <h3>Scrapbook notes</h3>
	      {% for post in posts %}
	      <h4><a href="{{ url('blog-post', post_id = post.key().id()) }}">{{ post.title }}</a></h4>
	      <p style="line-height: 1.5em;">{{ post.teaser }}</p>
	      {% endfor %}
	      <p><a href="{{ url('blog-index') }}">Read more &raquo;</a></p>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail thumb-front">
	      <h3>Work with us</h3>
	      <p>Thumbnail caption right here...</p>
	      <p>Thumbnail caption right here...</p>
	      <p>Thumbnail caption right here...</p>
	      <a>Learn more &raquo;</a>
	    </div>
	  </li>
	</ul>
	<div class="row">
		<div class="span12">
			<!--<hr />-->
			<div style="text-align: center; padding: 0 20px;">
			<div style="margin: 0 auto; overflow: visible;" id="expertises">
				{% for tech in technologies %}
				<a href="{{ url('portfolio-index-technology', technology = tech.slug) }}">{{ tech }}</a></span>
				{% endfor %}
			</div>
			</div>
		</div>
	</div>

{% endblock %}
