{% extends 'base.html' %}

{% block content %}

	<div class="row">
		<div class="span10 offset1">
			<img src="http://placehold.it/1200x400" alt="The carousel will be here" />
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<hr />
			<h2>Featured products</h2>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<h3>Website: Woody Мебель</h3>
			<img src="http://placehold.it/400x200" />
		</div>
		
		<div class="span4">
			<h3>Website: Skoll Technologies</h3>
			<img src="http://placehold.it/400x200" />
		</div>
		
		<div class="span4">
			<h3>Website: Kyiv Kendo Federation</h3>
			<img src="http://placehold.it/400x200" />
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<hr />
			<h2>Expertise cloud</h2>
		</div>
	</div>

{% endblock %}
